@import './variables'; // Імпортуємо змінні

// Стилі для hero блоку

.hero__wrapper {
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    column-gap: $gap;
    justify-content: space-between;
    align-items: center;

    .hero__side {
        width: 50%;

        img {
            width: 100%;
            max-height: 60vh;
            object-fit: contain;
            object-position: right center;
        }
    }
}